<div class="px-8 text-center mb-24">
  <a href="#"
   data-name="manufarez"
   data-domain="gmail"
   data-tld="com"
   onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;" class="cryptedemail rainbow inline-block px-6 py-3 rounded-xl text-white font-bold text-xl text-center hover:opacity-80 hover:-translate-y-0.5 transform transition focus:outline-none focus:ring focus:ring-offset-2 focus:ring-gray-200 active:opacity-10">Let's work together</a>
</div>
