<div class="container mx-auto text-center px-8 mb-24">
  <a href="#"
 class="btn rainbow inline-block rounded-xl text-white font-bold text-xl text-center hover:opacity-80 hover:-translate-y-0.5 transform transition active:opacity-10">
   <span class="bg-transparent dark:bg-black"><p class="light-text dark:hidden">Let's work together</p><p class="dark-text hidden dark:block">Let's work together</p></span>
  </a>
</div>
