<div class="container px-8 mx-auto mb-24 text-center">
  <a href="#"
    data-name="manufarez.work"
    data-domain="gmail"
    data-tld="com"
    onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"
    class="inline-block text-xl font-bold text-center text-white btn rainbow rounded-xl">
   <span class="bg-transparent dark:bg-black"><p class="light-text dark:hidden">Let's work together</p><p class="hidden dark-text dark:block">Let's work together</p></span>
  </a>
</div>
