<div class="bg-gray-100 p-10 dark:bg-cod-gray-dark">
  <div class="max-w-4xl mx-auto text-gray-300 text-lg">
    <a target="_blank" href="https://github.com/manufarez"><i class="fab fa-github mr-4 hover:text-gray-400 dark:text-cod-gray-medium dark:hover:text-gray-500"></i></a>
    <a target="_blank" href="https://twitter.com/manufarez"><i class="fab fa-twitter mr-4 hover:text-gray-400 dark:text-cod-gray-medium dark:hover:text-gray-500"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/manufarez/"><i class="fab fa-linkedin-in hover:text-gray-400 dark:text-cod-gray-medium dark:hover:text-gray-500"></i></a>
  </div>
</div>
