<div class="px-8 pt-12">
  <h1 class="text-5xl font-extrabold text-center mb-12 text-gray-900 dark:text-gray-50">
    Web bricolage & other services.
  </h1>
  <div class="mb-20">
    <p class="text-xl text-gray-600 max-w-4xl text-center mx-auto dark:text-gray-200">From (re)designing & prototyping ideas, to end-to-end application development and marketing related consultations. I bring projects to life or make them run smoother through occasional creative epiphanies, programming magic and lots of elbow grease.<br>A freelancer that gets stuff done on the internet.</p>
  </div>
</div>
