<div class="px-8 bg-gray-50 pt-14 mb-14 dark:bg-cod-gray">
  <div class="text-center mb-10">
    <p class="uppercase font-bold text-gray-400 tracking-wide mb-2 dark:text-gray-500">Skills</p>
    <h2 class="font-extrabold text-4xl text-gray-900 mb-6 dark:text-gray-100">A good guy at what he does</h2>
    <p class="text-gray-500 text-xl">Lorem ipsum dolor sit amet consect adipisicing elit.<br>Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.</p>
  </div>
  <div class="mt-10 max-w-4xl mx-auto pb-14">
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
        <div class="flex">
          <div class="flex-shrink-0">
              <%= inline_svg_tag('scope.svg') %>
          </div>
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
              Competitive exchange rates
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
            </dd>
          </div>
        </div>
        <div class="flex">
          <div class="flex-shrink-0">
              <%= inline_svg_tag('design.svg') %>
          </div>
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
              No hidden fees
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
            </dd>
          </div>
        </div>
        <div class="flex">
          <div class="flex-shrink-0">
              <%= inline_svg_tag('code.svg') %>
          </div>
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
              Transfers are instant
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
            </dd>
          </div>
        </div>
        <div class="flex">
          <div class="flex-shrink-0">
              <%= inline_svg_tag('ship.svg') %>
          </div>
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
              Mobile notifications
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
            </dd>
          </div>
        </div>
      </dl>
    </div>
</div>
