<div class="px-8 bg-gray-100 pt-14 mb-14 dark:bg-cod-gray">
  <div class="text-center mb-10">
    <p class="uppercase font-bold text-gray-500 tracking-wide mb-2 dark:text-gray-500">Skills and services</p>
    <h2 class="font-bold text-4xl text-gray-800 mb-6 dark:text-gray-100">Full stack project development through and through</h2>
    <p class="text-gray-500 text-xl dark:text-gray-400">I combine both soft and technical skills to solve real-world problems<br> and build engaging user experiences, while having fun (most of the time).</p>
  </div>
  <div class="mt-10 max-w-4xl mx-auto pb-14">
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
        <div class="flex">
          <div class="flex-shrink-0">
              <%= inline_svg_tag('scope.svg') %>
          </div>
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-700 dark:text-gray-100">
              Project scope definition
            </dt>
            <dd class="mt-2 text-base text-gray-500 dark:text-gray-400">
              I'll help you pin down your user journeys, evaluate the friction and technical challenges behind each one, before defining a roadmap that will guide the building process.
            </dd>
          </div>
        </div>
        <div class="flex">
          <div class="flex-shrink-0">
              <%= inline_svg_tag('design.svg') %>
          </div>
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-700 dark:text-gray-100">
              Wireframing and design
            </dt>
            <dd class="mt-2 text-base text-gray-500 dark:text-gray-400">
              Thinking through the overall user experience, I can structure and design functional interfaces that'll make your identity stand out.
            </dd>
          </div>
        </div>
        <div class="flex">
          <div class="flex-shrink-0">
              <%= inline_svg_tag('code.svg') %>
          </div>
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-700 dark:text-gray-100">
              Testing and building
            </dt>
            <dd class="mt-2 text-base text-gray-500 dark:text-gray-400">
              As a fullstack <a href="https://prograils.com/top-10-famous-sites-built-with-ruby-on-rails" target="_blank" class="underline">Ruby on Rails</a> developer, I can code and thoroughly test your project, following modern web-development practices.
            </dd>
          </div>
        </div>
        <div class="flex">
          <div class="flex-shrink-0">
              <%= inline_svg_tag('ship.svg') %>
          </div>
          <div class="ml-4">
            <dt class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
              Shipping and maintenance
            </dt>
            <dd class="mt-2 text-base text-gray-500 dark:text-gray-400">
              Depending on the size of your team, I can implement collaboration techniques, internal tools as well as continuous deployment methods that suit your needs.
            </dd>
          </div>
        </div>
      </dl>
    </div>
</div>
