<div class="flex items-center justify-end px-8">
  <div id="switcher" class="pt-6 text-xl cursor-pointer">
    <div id="light-mode">🌙</div>
    <div id="dark-mode" class="hidden">💡</div>
  </div>
</div>
