<div class="h-auto bg-gray-100">
  <div class="min-h-screen flex items-center justify-center bg-gray-100 py-16">
    <div class="flex-grow max-w-4xl">
      <%= render 'form', project: @project %>
    </div>
  </div>
</div>
