<div class="h-screen flex items-center justify-center bg-gray-100">
  <div class="flex-grow max-w-4xl">
    <%= render 'form', project: @project %>

    <div class="mx-auto max-w-4xl text-center">
      <%= link_to 'Back', projects_path %>
    </div>
  </div>
</div>
