<footer class="p-10 bg-gray-100 dark:bg-cod-gray-dark">
  <div class="flex max-w-4xl mx-auto space-x-4 text-lg text-gray-300">
    <a target="_blank" href="https://github.com/manufarez" class="rounded btn" aria-label="Github" rel="noreferrer"><i class="fab fa-github hover:text-gray-400 dark:text-cod-gray-medium dark:hover:text-gray-500"></i></a>
    <a target="_blank" href="https://twitter.com/manufarez" class="rounded btn" aria-label="Twitter" rel="noreferrer"><i class="fab fa-twitter hover:text-gray-400 dark:text-cod-gray-medium dark:hover:text-gray-500"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/manufarez/" class="rounded btn" aria-label="LinkedIn" rel="noreferrer"><i class="fab fa-linkedin-in hover:text-gray-400 dark:text-cod-gray-medium dark:hover:text-gray-500"></i></a>
  </div>
</footer>
