<header class="flex items-center justify-end px-8">
  <div id="switcher" class="pt-6 text-xl cursor-pointer">
    <div id="dark-mode">💡</div>
    <div id="light-mode" class="hidden">🌙</div>
  </div>
</header>
